body.light-mode3 {
    background-color: #95FBFF;
    color: black

}

.light-mode3 label {
  color: black;
}

.light-mode3 .btmright{
    position: fixed;
    top: 93%;
    left: 92%;
    opacity: .5;
    background-color: grey;
    font-size: 20px;
    padding: 10px;
}

body.light-mode3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/9278.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5; 
    z-index: -1;
    pointer-events: none;
    transition: opacity 0.5s ease; 
}

.light-mode3 label {
    color: black;
    transition: color 0.5s ease; 
}

.light-mode3 main {
    background-color: #F1F3F1;
    box-shadow: 15px 10px rgba(10, 50, 50, 0.3);
    transition: background-color 0.5s ease; 
}

.light-mode3 input[type="text"] {
    background-color: hsl(263, 71%, 87%);
    color: black;
    transition: background-color 0.5s ease, color 0.5s ease; 
}

.light-mode3 button {
    display: inline-block;
    flex-direction: row;
    width: 80px;
    background-color: hsl(263, 83%, 72%);
    color: #fff;
    font-size: 14px;
    font-family: Arial;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s; 
    border: 2px solid #555;
}

.light-mode3 button:hover {
    background-color: hsl(263, 86%, 57%);
    font-family: Comic Sans MS;
}
