body.light-mode {
    background-color: #fff; 
    color: #fff;
}

.light-mode header {
    background-color: #d3d3d3;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.light-mode p {
    color: #333;
}

.light-mode h1 {
    color: #007bff; 
}

.light-mode h2 {
    color: #1f1f1f;
}

.light-mode button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.light-mode input[type="text"] {
    width: calc(100% - 120px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #fff;
    color: #666;
}

.light-mode .recipe{
    background-color: #666;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}
